*, ::after, ::before{
	box-sizing: border-box;
}

body {
	margin: 0
}

body, html {
	min-height: 100vh;
	tab-size: 4
}

header,
main {
	background-color: #10111a;
	color: #b6b6c1;
	font-family: monospace;
	font-size: 120%;
	padding: 2em;
}

::selection {
	background-color: #404045;
	color: white;
}

nav .brand {
	color: #e0e3ed;
}

.main-title {
	font-size: 5em;
	min-height: 3.7em;
	line-height: 1.1em;
}

.green {
	color: #4FA994;
}

.orange {
	color: #F37A53;
}

.purple {
	color: #CA64BF;
}

a {
	color: #0BAEFF;
	border: 1px solid transparent;
	cursor: pointer;
}

a:visited {
	color: #CA64BF;
}

a:hover {
	color: #65C9FB;
}

a:focus {
	border: 1px solid #4FA994;
}

a:focus:not(:focus-visible) {
	border: none;
	border: 1px solid transparent;
}

.light-message {
	display: none;
	background-color: white;
	color: black;
	margin-top: 1em;
	padding: .5em;
	border-radius: 10px;
}

@media (prefers-color-scheme: light) {
	.light-message {
		display: block;
	}
}

/* Once you have tried building a CSS only typewriter effect, please increment this counter: */
/* --wasted-hours: 1 */

.cards {
	display: flex;
	flex-wrap: wrap;
}

.card {
	flex: 0 1 calc((100% / 3) - 1em);
	margin: 1.5rem .25em;

	transition: box-shadow 1s;

	text-align: center;
	background: rgba( 16, 17, 26, 0.1 );
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card:hover {
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

.card:hover img {
	animation: tada 1s;
}

.card img {
	max-width: 50%;
	position: relative;
	bottom: 2rem;
	margin-bottom: -1em;
}

.card img[src*=github]{
	width: 41%;
}

.card img[src*=terminal]{
	width: 41%;
}

@keyframes tada {
	from {
		transform: scale3d(1, 1, 1);
	}

	10%, 20% {
		transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
	}

	30%, 50%, 70%, 90% {
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}

	40%, 60%, 80% {
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}
