*, ::after, ::before{
	box-sizing: border-box;
}

body {
	margin: 0
}

body, html {
	min-height: 100vh;
	tab-size: 4
}

header,
main {
	background-color: #10111a;
	color: #b6b6c1;
	font-family: monospace;
	font-size: 120%;
	padding: 2em;
}

::selection {
	background-color: #404045;
	color: white;
}

nav .brand {
	color: #e0e3ed;
}

.main-title {
	font-size: 5em;
	min-height: 3.7em;
	line-height: 1.1em;
}

.green {
	color: #4FA994;
}

.orange {
	color: #F37A53;
}

.purple {
	color: #CA64BF;
}

a {
	color: #0BAEFF;
	border: 1px solid transparent;
}

a:visited {
	color: #CA64BF;
}

a:hover {
	color: #65C9FB;
}

a:focus {
	border: 1px solid #4FA994;
}

a:focus:not(:focus-visible) {
	border: none;
	border: 1px solid transparent;
}

.light-message {
	display: none;
	background-color: white;
	color: black;
	margin-top: 1em;
	padding: .5em;
	border-radius: 10px;
}

@media (prefers-color-scheme: light) {
	.light-message {
		display: block;
	}
}

/* Once you have tried building a CSS only typewriter effect, please increment this counter: */
/* --wasted-hours: 1 */
